.load {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px; */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load hr {
  border: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background-color: #006aff;
  animation-delay: -1.5s;
}

.load :nth-child(2) {
  background-color: #006aff;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background-color: #006aff;

  animation-delay: -0.5s;
}
.load :last-child {
  background-color: #00d693;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }

  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
